Repository JazzDataSolutions/brain2gain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @brain2gain-team, @backend-team, @senior-developers, @frontend-team, @devops-team, @technical-writers, @security-team

start testing frontend
  backend/app/models.py
  backend/app/repositories/product_repository.py
  backend/app/services/product_service.py
  backend/app/tests/fixtures/factories.py
  backend/pyproject.toml
  frontend/src/test/cart-flow.test.tsx
  frontend/src/test/setup-router-mocks.ts
  frontend/src/test/setup.ts
  frontend/src/test/test-utils.tsx
  frontend/src/test/unit/components/AnalyticsDashboard.test.tsx
  frontend/src/test/unit/components/ProductCard.test.tsx
  frontend/src/test/unit/hooks/useCart.test.tsx
  testing_plan.yml
Owners: @backend-team, @senior-developers, @frontend-team, @brain2gain-team

Se resuelven bugs del frontend
  README.md
  frontend/src/components/Admin/AdminDashboard.tsx
  frontend/src/components/Admin/AdminSidebar.tsx
  frontend/src/components/Checkout/AddressBook.tsx
  frontend/src/components/Checkout/ContactInformationStep.tsx
  frontend/src/components/Checkout/OrderConfirmationStep.tsx
  frontend/src/components/Checkout/PaymentInformationStep.tsx
  frontend/src/components/Checkout/SavedPaymentMethods.tsx
  frontend/src/components/Checkout/ShippingInformationStep.tsx
  frontend/src/components/Store/CheckoutPage.tsx
  frontend/src/components/Store/OrderDetailsPage.tsx
  frontend/src/components/Store/OrderSuccessPage.tsx
  frontend/src/components/Store/UserOrdersPage.tsx
  frontend/src/routes/store/order-success.tsx
  frontend/src/routes/store/orders.tsx
  frontend/src/routes/store/orders/$orderId.tsx
  frontend/src/services/orderService.ts
  frontend/src/test/cart-flow.test.tsx
  frontend/src/test/setup.ts
  frontend/src/test/unit/hooks/useNotifications.test.ts
  frontend/src/test/unit/stores/cartStore.test.ts
  frontend/vitest.config.ts
  testing_plan.yml
Owners: @technical-writers, @frontend-team, @senior-developers, @brain2gain-team

chore(frontend): relax ts unused checks
  frontend/package.json
  frontend/tsconfig.json
Owners: @frontend-team, @senior-developers

Fix order stats counts and update docs
  README.md
  backend/app/services/order_service.py
  backend/app/tests/unit/services/test_order_service.py
Owners: @technical-writers, @backend-team, @senior-developers

feat: Complete cart flow testing perfect + update documentation
  README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/test/cart-flow.test.tsx
  frontend/vitest.config.ts
  improvement_plan.yml
  testing_plan.yml
Owners: @technical-writers, @frontend-team, @senior-developers, @brain2gain-team

feat: Complete Phase 2 component testing and integration infrastructure
  frontend/src/test/__mocks__/orderService.ts
  frontend/src/test/address-book.test.tsx
  frontend/src/test/checkout-integration.test.tsx
  frontend/src/test/order-details-page.test.tsx
  frontend/src/test/saved-payment-methods.test.tsx
  frontend/src/test/user-orders-page.test.tsx
  testing_plan.yml
Owners: @frontend-team, @senior-developers, @brain2gain-team

testing phase 2 almost completed
  improvement_plan.yml
  testing_plan.yml
Owners: @brain2gain-team

feat: Complete Integration Testing Infrastructure with Database and Cache
  backend/EMAIL_TEMPLATES.md
  backend/README.md
  backend/TESTING_STATUS_REPORT.md
  backend/app/api/main.py
  backend/app/api/routes/email_templates.py
  backend/app/core/config.py
  backend/app/email-templates/compiled/order_confirmation_3311532970724822690.html
  backend/app/email-templates/compiled/order_delivered_3311532970724822690.html
  backend/app/email-templates/compiled/order_shipped_3311532970724822690.html
  backend/app/email-templates/src/order_confirmation.mjml
  backend/app/email-templates/src/order_delivered.mjml
  backend/app/email-templates/src/order_shipped.mjml
  backend/app/repositories/product_repository.py
  backend/app/services/email_template_service.py
  backend/app/services/notification_service.py
  backend/app/tests/database_conftest.py
  backend/app/tests/integration/test_database_integration.py
  backend/app/tests/integration/test_email_template_integration.py
  backend/app/tests/unit/repositories/test_product_repository_fixed.py
  backend/app/tests/unit/services/test_email_template_service.py
  backend/pyproject.toml
  backend/testing_plan.yml
Owners: @backend-team, @senior-developers, @technical-writers, @security-team

Complete Phase 2 testing infrastructure: Achieve 95.7% test coverage across backend and frontend
  frontend/src/test/unit/components/AnalyticsDashboard.test.tsx
  frontend/src/test/unit/components/ProductCard.test.tsx
  frontend/src/test/unit/hooks/useNotifications.test.ts
  frontend/src/test/unit/stores/cartStore.test.ts
Owners: @frontend-team, @senior-developers

Update documentation with Phase 2 completion and production deployment plan
  README.md
  testing_plan.yml
Owners: @technical-writers, @brain2gain-team

Se prepara test para produccion
  PRODUCTION_DEPLOYMENT_PLAN.md
  backend/app/core/cache.py
  backend/app/email-templates/compiled/order_confirmation_3218301796482477799.html
  backend/app/email-templates/compiled/order_confirmation_3690119463433167941.html
  backend/app/email-templates/compiled/order_confirmation_3701086319906815041.html
  backend/app/email-templates/compiled/order_confirmation_4424068631242050334.html
  backend/app/email-templates/compiled/order_confirmation_8607802470761494675.html
  backend/app/email-templates/compiled/order_delivered_-153599662910604882.html
  backend/app/email-templates/compiled/order_delivered_-1677286882996960258.html
  backend/app/email-templates/compiled/order_delivered_-4970732075482778257.html
  backend/app/email-templates/compiled/order_delivered_-8233548363898300314.html
  backend/app/email-templates/compiled/order_delivered_-8312994729103424125.html
  backend/app/email-templates/compiled/order_delivered_-904222094032091418.html
  backend/app/email-templates/compiled/order_delivered_2178600708591711257.html
  backend/app/email-templates/compiled/order_delivered_3701086319906815041.html
  backend/app/email-templates/compiled/order_delivered_450000783660349450.html
  backend/app/email-templates/compiled/order_delivered_615160986933929968.html
  backend/app/email-templates/compiled/order_delivered_7922041226599949912.html
  backend/app/email-templates/compiled/order_delivered_7973899002670274020.html
  backend/app/email-templates/compiled/order_delivered_8508434464599190932.html
  backend/app/email-templates/compiled/order_shipped_-153599662910604882.html
  backend/app/email-templates/compiled/order_shipped_-4571022165441590436.html
  backend/app/email-templates/compiled/order_shipped_-4970732075482778257.html
  backend/app/email-templates/compiled/order_shipped_-7371536131960870845.html
  backend/app/email-templates/compiled/order_shipped_-8312994729103424125.html
  backend/app/email-templates/compiled/order_shipped_2686501573019400460.html
  backend/app/email-templates/compiled/order_shipped_3701086319906815041.html
  backend/app/email-templates/compiled/order_shipped_615160986933929968.html
  backend/app/email-templates/compiled/order_shipped_7720062298184898207.html
  backend/app/email-templates/compiled/order_shipped_7855173867330922874.html
  backend/app/email-templates/compiled/order_shipped_7873868926692087978.html
  backend/app/email-templates/compiled/order_shipped_7973899002670274020.html
  backend/app/email-templates/compiled/order_shipped_8508434464599190932.html
  backend/app/services/notification_service.py
  backend/app/tests/integration/test_cache_integration.py
  backend/app/tests/integration/test_email_template_integration.py
Owners: @brain2gain-team, @backend-team, @senior-developers

✨ Implement CI/CD pipeline and email notification system
  .github/workflows/comprehensive-testing.yml
  backend/app/email-previews/email_20250630_090846_test_at_brain2gain.com.html
  backend/app/email-previews/email_20250630_091027_test_at_brain2gain.com.html
  backend/app/services/notification_service.py
Owners: @security-team, @devops-team, @backend-team, @senior-developers

🚀 Activate CI/CD pipeline with E2E integration validation
  .github/workflows/ci.yml
  README.md
  frontend/playwright.config.ts
  frontend/tests/utils/privateApi.ts
  testing_plan.yml
Owners: @security-team, @devops-team, @technical-writers, @frontend-team, @senior-developers, @brain2gain-team

📊 Complete monitoring stack implementation (Prometheus + Grafana + ELK)
  README.md
  deploy-monitoring.sh
  docker-compose.exporters.yml
  docker-compose.monitoring.yml
  monitoring/README.md
  monitoring/alertmanager/alertmanager.yml
  monitoring/blackbox/blackbox.yml
  monitoring/filebeat/filebeat.yml
  monitoring/grafana/dashboards/brain2gain-overview.json
  monitoring/grafana/provisioning/dashboards/dashboard.yml
  monitoring/grafana/provisioning/datasources/prometheus.yml
  monitoring/kibana/kibana.yml
  monitoring/logstash/config/logstash.yml
  monitoring/logstash/pipeline/logstash.conf
  monitoring/prometheus/prometheus.yml
  monitoring/prometheus/rules/brain2gain-alerts.yml
  secrets/grafana_admin_password.txt
  secrets/grafana_secret_key.txt
  testing_plan.yml
Owners: @technical-writers, @brain2gain-team, @devops-team

📝 Update documentation - Phase 3 production deployment complete
  README.md
  testing_plan.yml
Owners: @technical-writers, @brain2gain-team

🚀 Complete monitoring stack deployment and VPS deployment guide
  deploy-monitoring.sh
  docker-compose.monitoring.yml
  docs/deployment/VPS_DEPLOYMENT_GUIDE.md
  monitoring/alertmanager/alertmanager.yml
Owners: @brain2gain-team, @devops-team, @technical-writers, @senior-developers

🚀 Add complete VPS deployment automation for brain2gain.mx
  PRODUCTION_DEPLOYMENT_PLAN.md
  README.md
  deploy-vps-brain2gain.sh
Owners: @brain2gain-team, @technical-writers

🔒 Complete Docker Compose security refactoring and cleanup
  README.md
  docker-compose.ci.yml
  docker-compose.prod.yml
  docker-compose.yml
  docker/docker-compose.base.yml
  docker/docker-compose.ci.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.local.yml
  docker/docker-compose.override.yml
  docker/docker-compose.testing.yml
  docker/docker-compose.yml
  frontend/Dockerfile.build
  frontend/Dockerfile.simple
  secrets/jwt_secret.txt
  secrets/postgres_password.txt
  secrets/redis_password.txt
  secrets/secret_key.txt
  secrets/smtp_password.txt
  secrets/superuser_password.txt
Owners: @technical-writers, @devops-team, @brain2gain-team, @frontend-team, @senior-developers

🔧 Fix backend API and complete production infrastructure
  PRODUCTION_INFRASTRUCTURE.md
  README.md
  backend/app/alembic/env.py
  backend/main_simple.py
  deploy-production.sh
  docker-compose.backend-simple.yml
  docker-compose.monitoring.yml
  docker-compose.prod.yml
  docker-compose.ssl-standalone.yml
  docker-compose.ssl.yml
  nginx/nginx.initial.conf
  nginx/nginx.prod.conf
  nginx/nginx.simple.conf
  nginx/ssl/accounts/acme-v02.api.letsencrypt.org/directory/3ded321c06a8132f268d375478a7a29f/meta.json
  nginx/ssl/accounts/acme-v02.api.letsencrypt.org/directory/3ded321c06a8132f268d375478a7a29f/private_key.json
  nginx/ssl/accounts/acme-v02.api.letsencrypt.org/directory/3ded321c06a8132f268d375478a7a29f/regr.json
  nginx/ssl/brain2gain.mx/fullchain.pem
  nginx/ssl/brain2gain.mx/privkey.pem
  scripts/generate-secrets.sh
Owners: @brain2gain-team, @technical-writers, @backend-team, @senior-developers, @devops-team

Script added
  scripts/Report.Rmd
Owners: @devops-team

🔧 Fix production deployment issues and Alembic migration chain
  backend/app/alembic/versions/2024121200_add_event_store_table.py
Owners: @backend-team, @senior-developers

🔧 Update database configuration for production deployment
  backend/app/alembic/env.py
  database/init-databases.sql
Owners: @backend-team, @senior-developers, @brain2gain-team

🔧 Fix SQLModel table mappings and complete migration chain corrections
  backend/app/alembic/versions/2024121200_add_event_store_table.py
  backend/app/alembic/versions/2024121201_migrate_sales_order_to_order.py
  backend/app/alembic/versions/2024121202_migrate_data_sales_to_orders.py
  backend/app/alembic/versions/2024121203_add_payment_refund_tables.py
  backend/app/models.py
Owners: @backend-team, @senior-developers

🔧 Complete production deployment fixes and database schema consistency
  backend/app/models.py
  backend/scripts/start-prod.sh
Owners: @backend-team, @senior-developers

🌐 Complete server and domain configuration for brain2gain.mx
  docker-compose.prod.yml
Owners: @devops-team

🌐 Complete domain migration to brain2gain.mx with Cloudflare integration
  frontend/nginx/default.prod.conf
  frontend/nginx/nginx.prod.conf
  kong/kong.yml
Owners: @frontend-team, @senior-developers, @brain2gain-team

🎉 Complete production deployment with admin panel live on brain2gain.mx
  README.md
Owners: @technical-writers

Remediation plan
  .github/workflows/enhanced-testing.yml
  README.md
  backend/app/core/security.py
  backend/app/tests/api/routes/test_cart.py
  backend/app/tests/api/routes/test_orders.py
  backend/app/tests/api/routes/test_payments.py
  backend/app/tests/unit/services/test_shipping_service.py
  frontend/src/client/index.ts
  frontend/src/components/Admin/CustomerManagement.tsx
  frontend/src/components/Admin/InventoryManagement.tsx
  frontend/src/components/Admin/OrderManagement.tsx
  frontend/src/components/Auth/AdminGuard.tsx
  frontend/src/components/Auth/ProtectedRoute.tsx
  frontend/src/components/Store/CartComponent.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useCart.ts
  frontend/src/routes/admin/_layout.tsx
  frontend/src/services/CartService.ts
  frontend/src/test/unit/components/AdminDashboard.test.tsx
  frontend/src/test/unit/components/CustomerManagement.test.tsx
Owners: @security-team, @devops-team, @technical-writers, @backend-team, @senior-developers, @frontend-team

🚀 Complete backend-frontend integration with enterprise security
  frontend/src/components/Common/ErrorBoundary.tsx
  frontend/src/hooks/useOrders.ts
  frontend/src/hooks/usePayments.ts
  frontend/src/utils/errorHandling.ts
Owners: @frontend-team, @senior-developers

🧹 Repository cleanup and Docker compose optimization
  .dockerignore
  PRODUCTION_DEPLOYMENT_PLAN.md
  PRODUCTION_INFRASTRUCTURE.md
  commitlint.config.cjs
  config/.env.development.example
  config/.env.local.example
  config/.env.production.example
  config/.env.testing.example
  deploy-monitoring.sh
  deploy-swarm.sh
  deployment/README.md
  docker-compose.backend-simple.yml
  docker-compose.exporters.yml
  docker-compose.ssl-standalone.yml
  docker-compose.test.yml
  docker-swarm.yml
  docker/compose.base.yml
  docker/compose.development.yml
  docker/compose.testing.yml
  docs/improvement_plan.yml
  docs/testing_plan.yml
  scripts/deploy-production.sh
  scripts/deploy-vps-brain2gain.sh
Owners: @brain2gain-team, @technical-writers, @devops-team, @senior-developers

🔒 Enhanced admin panel security with backend authentication
  backend/app/api/main.py
  backend/app/api/routes/auth.py
  nginx/nginx.prod.conf
Owners: @backend-team, @senior-developers, @brain2gain-team

🔧 Fix critical production issues and restore complete system functionality
  README.md
  backend/app/alembic/versions/2024061000_add_performance_indexes.py
  backend/app/alembic/versions/2024061001_add_top_products_view.py
  backend/app/alembic/versions/2024121200_add_event_store_table.py
  backend/app/api/routes/cart.py
  backend/app/api/routes/login.py
  backend/app/api/routes/utils.py
  backend/app/api/v1/products.py
  backend/app/api/v1/transactions.py
  backend/app/core/config.py
  backend/app/core/security.py
  backend/app/main.py
  backend/app/middlewares/advanced_rate_limiting.py
  backend_simple_working.py
  complete_backend.py
  fix_rate_limiting.sh
  minimal_backend.py
  nginx/nginx.prod.conf
  start_backend_temp.py
  test_backend_simple.py
Owners: @technical-writers, @backend-team, @senior-developers, @security-team, @brain2gain-team

🔧 Complete system remediation and critical issues resolution
  Dockerfile.simple
  README.md
  backend/app/core/config.py
  backend/app/main.py
  backend/app/middlewares/advanced_rate_limiting.py
  backend_fixed.py
  backend_startup_fixed.py
  simple_backend_test.py
  start_working_backend.py
Owners: @devops-team, @technical-writers, @security-team, @backend-team, @senior-developers, @brain2gain-team

🎉 Production deployment complete: SSL + DNS fixes + comprehensive documentation
  DNS_FIX_GUIDE.md
  DNS_ISSUE_REPORT.md
  IMMEDIATE_DNS_FIX_STEPS.md
  PRIORITY_ACTIONS.md
  README.md
  audit_report_2025-07-04.md
  improvement_roadmap_2025-07-04.md
  nginx/nginx.prod.conf
  nginx/ssl/brain2gain.mx/fullchain.pem
  nginx/ssl/brain2gain.mx/privkey.pem
Owners: @brain2gain-team, @technical-writers

🔧 Fix admin panel SPA routing - Frontend nginx configuration update
  frontend/nginx.conf
Owners: @frontend-team, @senior-developers

Fuctional POC
  DNS_FIX_GUIDE.md
  DNS_ISSUE_REPORT.md
  IMMEDIATE_DNS_FIX_STEPS.md
  PRIORITY_ACTIONS.md
  SECURITY.md
  audit_report_2025-07-04.md
  improvement_roadmap_2025-07-04.md
Owners: @brain2gain-team, @security-team

🔍 Complete system audit and critical fixes implementation
  audit_report.yaml
Owners: @brain2gain-team

.github/CODEOWNERS:

# Global owners
* @brain2gain-team

# Backend code
/backend/ @backend-team @senior-developers

# Frontend code
/frontend/ @frontend-team @senior-developers

# Infrastructure and CI/CD
/.github/ @devops-team @senior-developers
/docker-compose*.yml @devops-team
/Dockerfile* @devops-team
/scripts/ @devops-team

# Documentation
/docs/ @technical-writers @senior-developers
README.md @technical-writers
SECURITY.md @security-team

# Security sensitive files
/.github/workflows/ @security-team @devops-team
/backend/app/core/security.py @security-team
/backend/app/core/config.py @security-team
